{
  "presets": ["react", "stage-1"],
  "env": {
    "cjs": {
      "presets": ["es2015-loose"],
      "plugins": ["add-module-exports", "transform-runtime"]
    },
    "es": {
      "presets": ["es2015-loose-native-modules"]
    },
    "test": {
      "sourceMaps": "inline",
      "presets": ["es2015-loose"],
      "plugins": ["add-module-exports", "transform-runtime"]
    }
  }
}